@model Formularz.Models.Dane

<form asp-action="Form" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Imie">Twoje imie:</label>
        <input asp-for="Imie"/>
    </div>
    <div>
        <label asp-for="Nazwisko">Twoje Nazwisko:</label>
        <input asp-for="Nazwisko" />
    </div>
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Haslo">Haslo:</label>
        <input asp-for="Haslo" />
    </div>
    <div>
        <label asp-for="Potw_Haslo">Potwierdz Haslo:</label>
        <input asp-for="Potw_Haslo" />
    </div>
    <div>
        <label asp-for="Nr_telefonu">Numer Telefonu:</label>
        <input asp-for="Nr_telefonu" />
    </div>
    <div>
        <label asp-for="Wiek">Wiek:</label>
        <input asp-for="Wiek" />
    </div>
    <div>
        <label asp-for="Miasto">Miasto:</label>
        <input asp-for="Miasto" />
    </div>
    <div>
        <input type ="submit" />
    </div>
    <div>
        <input type= "reset" value="Wyczysc" />
    </div>
</form>

